---
title: Home
layout: home
---

<h2>Proceedings</h2>

<p>Proceedings and videos of conference lectures are now available.&nbsp;  See the <a href="{{ site.baseurl }}/proceedings.html">Proceedings</a> tab for more information.</p>
<br>


<h2>Colocated Events</h2>

<p>The <a href="http://snowbird.djvuzone.org/">Learning Workshop</a> will be held at the same location, immediately after AISTATS (on the 13-16).&nbsp; As we have done in past years, we plan to have a joint session with the Learning Workshop on the 13th.</p>


{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}


						
